@media (max-width: 550px) {
    main{
        width: 300px;
         margin: 0 ;
    }
    .blockArea{
       width:300px;
        height: 300px;
    }
    
    .blockItem{
        width: 90px;
        height: 90px;
    }
    
}
