main{
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
}

.blockWho{
    padding: 25px;
}
#spanWho{
    color: rgb(48, 67, 243);
    font-weight: 600;
    font-size: 24px;
}

.blockArea{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
   width: 500px;
    height: 500px;
    padding: 5px;
    align-items: center;
    background: aliceblue;
    border-radius: 24px;
    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.295);
}

.blockItem{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding: 8px;
    background: gray;
    border-radius: 24px;
}


.krest{
    border: 3px solid red;
    background-image: url(../img/x.jpg);
    background-size: 100% 100%;
}
.circle{
    border: 3px solid  rgb(48, 67, 243);
    background-image: url(../img/0.jpg);
    background-size: 100% 100%;
}

.win{
transition-duration: 2.5s;
transform: rotate(360deg)

}

.blockWinner{
    margin-top: 24px;
    display: none;
    flex-direction: column;
}

.textWin{
    font-size: 25px;
    margin-bottom: 12px;
}

#spanWin{
    font-size: 24px;
    color: rgb(0, 21, 255);
}
.btnNewGame{
    padding: 12px;
    background: rgb(55, 196, 55);
    border-radius: 12px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.btnNewGame:hover{
    background: rgb(82, 229, 82);
}